.nav-ico {
    padding-bottom:0px !important;
    padding-left:1px !important;
}


.navbar {
    border-radius: 0px;
}

#tamulogo{
    margin-right: 20px;
    padding-top: 5px;
}

#logo-top {
    max-height:40px;
    overflow:visible;
    padding-top:0;
    padding-bottom:0;
}



