<div class="content-wrapper">
    <h1>What is KANM?</h1>
    <div class="about-image">
        <img class="img img-responsive" src="/_assets/img/about/board.jpg">
        <p>The college station of College Station</p>
    </div>
    <p>KANM is the student radio station at Texas A&M University</p>

    <div class="about-image">
        <img class="img img-responsive" src="/_assets/img/about/discs.jpg">
        <p>We Play Underground Music</p>
    </div>
    <p>DJs program shows playing music encompassing nearly every genre possible - anything from indie pop to hip-hop to punk to jazz and so on.</p>
    <p>
        Our focus is on providing an outlet for music typically ignored by commercial radio. We encourage DJ's to branch out and try music they haven't listened to before.
    </p>

    <div class="about-image">
        <img class="img img-responsive" src="/_assets/img/about/posters.jpg">
        <p>100% Student Run</p>
    </div>

</div>

