<div class="modal-header">
	<h3 class="modal-title">{{show.show.ShowName}}</h3>
</div>
<div class="modal-body">
	<input class="form-control" placeholder="Rename Show" ng-model="data.showName">
	<br>
	<button class="btn btn-success btn-sm" ng-click="renameShow()">Rename Show</button>
	<div>
		<h4>DJs</h4>
		<label>Add DJ</label>
		<select ng-model="data.newDj" >
			<option ng-repeat="dj in djs" value="{{dj.pkey}}">{{dj.firstname}} {{dj.lastname}}</option>
		</select>
		<button class="btn btn-default" ng-click="addDj()" ng-disabled="!data.newDj">Add</button>
		<h4>Current</h4>
		<div class="row" ng-repeat="dj in show.hosts">
			<div class="col-md-6">
				{{ dj.firstname }} {{ dj.lastname }} 
			</div>
			<div class="col-md-6">
				<button type="button" class="close" aria-label="Close" ng-click="removeDj(dj.pkey)"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="btn-group">
		<button class="button btn-danger" ng-click="removeShow()">Remove Show</button>
		<button class="button btn-default" ng-click="close()">Close</button>
	</div>
</div>
